.Buttonstyle{
    background-color: aqua;
    color : black;
    padding : 15px;
    cursor : pointer;
    font-size : 20px;
    width : 30 px;
    margin : 10px;
    
}
.Buttonposition{
    display : flex;
    justify-content: center;
    align-items: center;
}
.Buttonstyle:hover {
    background-color: aquamarine;
}